/** Generic styles **/
body {
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
}

.pageHeader {
	margin-top: 5px;
	margin-bottom: 20px;
	padding-bottom: 10px;
}

.pageHeader img {
	max-height: 40px;
}

h1 {
	font-size: 24px;
	margin: 0 0 5px;
}

h2 {
	font-size: 20px;
	margin: 0 0 5px;
}

h3 {
	font-size: 18px;
	margin: 0;
	padding: 10px;
}

a {
	text-decoration: none;
	color: #1bc5f8;
}

a:hover {
	text-decoration: underline;
}

input[type=text], textarea {
	text-indent: 5px;
	border: 1px solid #ccc;
}

.wrapLongStrings {
	word-wrap: break-word;
	word-break: break-all;
}

.wrapLongStrings pre {
	white-space: pre-wrap;
}

/** index.html **/
textarea {
	width: 100%;
	height: 200px;
}

#alias {
	width: 100%;
	margin: 15px 0 0px;
}

#launch-buttons button {
	margin: 5px 5px 5px 0;
}

.runningTest {
	border-bottom: 1px #eee solid;
	padding: 5px;
}

.runningTest:hover {
	background-color: #f6fefe;
}

#running-tests {
	border-left: 1px #eee solid;
	border-top: 1px #eee solid;
}

.testResult {
	margin: 10px 0;
	padding: 5px;
	border-radius: 5px;
}

.testResult.result-unknown {
	background-color: #efefef;
}

.testResult.result-failed {
	background-color: #bc827d;
}

.testResult.result-waiting {
	background-color: #eab79c;
}

.testResult.result-passed {
	background-color: #a8c69f;
}

.testResult.result-configured {
	background-color: #d5aee5;
}

.testResult button {
	color: #fff;
	border: 2px solid #fff;
}

.testResult button.start {
	background-color: #00ee00;
}

.testResult button.stop {
	background-color: #ee0000;
}

.testResult button.view {
	background-color: #4cc6ea;
}

.browser li {
	padding: 5px;
}

.externalURLLink {
	background-color: #111;
	padding: 5px;
}

/* JSON form tabs */
.tab-content {
	padding: 0px 12px;
	border: 1px solid #ddd;
	border-top: none;
}

.tab-pane {
	padding: 0px;
}

.tab-content input {
	width: 100%;
}

.tab-content textarea {
	width: 100%;
	height: 240px;
}

.tab-content .row {
	margin-bottom: 10px;
}

#config {
	border: none;
}

.config-form-container-header {
	border-bottom: 1px #dcdcdc solid;
	background: linear-gradient(#ffffff, #efefef);
}

/** index.html end **/

/** logs listing **/
#logs {
	margin: 0 20px;
}

#logs .content .link {
	margin: 5px 0;
}

.listHeader {
	padding: 5px 0px 0px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 3px;
}

.logContent {
	border-top: 1px #eee solid;
}

.logItem {
	border-bottom: 1px #eee solid;
	padding-top: 7px;
	padding-bottom: 3px;
}

.startBlock {
	border: none;
	font-size: 0.8em;
	font-weight: bold;
}

.logItem:hover {
	background-color: #f6fefe;
}

.log-source {
	font-family: monospace;
	font-size: 85%;
	color: #666666;
}

/* Override the default link color */
.log-requirement a:link, .log-requirement a:visited {
	color: #ffffff;
}

.bgSummary {
	padding: 5px 10px;
	margin: 4px;
	border: 1px #ddd solid;
	border-radius: 2px;
}

.testStatusResultBlock {
	padding: 5px 10px;
	border-radius: 3px;
	margin: 1px;
	text-align: center;
	font-size: 110%;
}

.testStatus-created {
	background-color: #fcd9f6;
	color: black;
}

.testStatus-configured {
	background-color: #d3fffe;
	color: black;
}

.testStatus-running {
	background-color: #6d09e8;
	color: white;
}

.testStatus-waiting {
	background-color: #6ac4c2;
	color: black;
}

.testStatus-interrupted {
	background-color: #b70018;
	color: white;
}

.testStatus-finished {
	background-color: #383647;
	color: white;
}

.testStatus-unknown {
    background-color: #dedada;
    color: #6d6a6a;
}

.testResult-passed {
	background-color: #40e809;
	color: black;
}

.testResult-warning {
	background-color: #d88602;
	color: white;
}

.testResult-failed {
	background-color: black;
	color: white;
}

.testResult-review {
	background-color: #6ac4c2;
	color: black;
}

.testResult-skipped {
    background-color: #d88602;
    color: white;
}

.testResult-unknown {
	background-color: #dedada;
	color: #6d6a6a;
}

/* to make labels wrap better */
.labelCollection {
	line-height: 2.1em;
}

.moreInfo {
	background: #eee;
	border: thin #C0C0C0 solid;
	border-radius: 4px;
	padding: 6px;
}

.pageFooter {
	padding: 4rem 0;
	margin-top: 4rem;
	font-size: 85%;
	text-align: center;
	background-color: #f7f7f7;
}

/* Test result labels */
.label.result-success {
	background-color: #00cc00;
}

.label.result-failure {
	background-color: #cc0000;
}

.label.result-warning {
	background-color: #d88602;
}

.label.result-review {
	background-color: #00ccff;
}

.label.result-interrupted {
	background-color: #ddbb88;
}

.label.result-finished {
	background-color: #383647;
}

.label.result-info {
	background-color: #e2bfce;
}

.label.result-skipped {
    background-color: #d88602;
}

/* JJH: I don't believe this default value is ever used, there is no code to treat an unknown value as the default
  and unknown values seem to display as white-on-white */
.label.result-default {
	background-color: #00cc00;
}

.label.result-success .badge,
.label.result-failure .badge,
.label.result-warning .badge,
.label.result-review .badge,
.label.result-interrupted .badge,
.label.result-info .badge,
.label.result-finished .badge,
.label.result-skipped .badge,
.label.result-default .badge {
	background-color: rgba(0.5, 0.5, 0.5, 0.5);
	font-size: 10px;
}


.ownerSub {
	background: #d9c9fe;
	color: black;
	padding: 2px 10px;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	border-top: 1px darkgrey solid;
	border-left: 1px darkgrey solid;
	border-bottom: 1px darkgrey solid;
}

.ownerIss {
	background: #d3dcf5;
	color: black;
	padding: 2px 10px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	border-top: 1px darkgrey solid;
	border-right: 1px darkgrey solid;
	border-bottom: 1px darkgrey solid;
}

/* pretty-printed JSON blocks */
pre.prettyprint {
	border: none !important;
}

/* highlighted JWTs */
.jwtHeader {
	color: #fb015b;
}

.jwtPayload {
	color: #d63aff;
}

.jwtSignature {
	color: #00b9f1;
}

.jweCypher {
	color: #f1a551;
}

.jweTag {
	color: #38a321;
}

/* spacers for page elements */
.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }

/* shim for hidden elements */
[hidden] {
	display: none !important;
}

.imagePreview {
	max-height: 50vh;
}

.paddingRight5 {
	padding-right: 5px;
}

.marginTopBottom5 {
	margin: 5px 0px 5px 0px;
}

.fitContent {
	display: block;
	width: fit-content;
}

.showHover {
	cursor: pointer;
}

.sticky {
	position: fixed;
	top: 0;
	z-index:100;
}

/* People on large monitors <= 3000 */
@media all and (max-width : 3000px) {
}

/* Regular desktop/laptop type users & tablet landscape <= 1400 */
@media all and (max-width : 1400px) {
}

/* < Tablet landscape */
@media all and (max-width : 1023px) {
}

/* <= Phones */
@media all and (max-width : 640px) {
}

/* <= Phones portrait */
@media all and (max-width : 320px) {
}
